{% load static %}
<section class="intro_section page_mainslider ds">
    <div class="flexslider">
        <ul class="slides">
            https://html.modernwebtemplates.com/psychologist/fonts/fontawesome-webfont.ttf?v=4.6.3
            http://127.0.0.1:8000/static/
            <li>
                <img src="{{ setting.banner_one.url }}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInRight">
                                        <h3>
                                            {{ setting.banner_one_title }}
                                        </h3>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInLeft">
                                        <p class="small-text grey">
                                            {{ setting.banner_one_desc }}
                                        </p>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>

            <li>
                <img src="{{ setting.banner_two.url }}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="slide_description_wrapper">
                                <div class="slide_description">
                                    <div class="intro-layer" data-animation="fadeInRight">
                                        <h3>
                                            {{ setting.banner_two_title }}
                                        </h3>
                                    </div>
                                    <div class="intro-layer" data-animation="fadeInLeft">
                                        <p class="small-text grey">
                                            {{ setting.banner_two_desc }}
                                        </p>
                                    </div>
                                </div>
                                <!-- eof .slide_description -->
                            </div>
                            <!-- eof .slide_description_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>

        </ul>
    </div>
    <!-- eof flexslider -->
</section>