<footer class="page_footer cs main_color2 table_section section_padding_50 columns_padding_0">
    <div class="container">

        <div class="row">

            <div class="col-sm-4 col-sm-push-4 text-center">
                <a href="{% url 'homepage' %}" class="logo big text-shadow">
                    {{ setting.title_site }}
                    <span class="small-text">Premium HTML Template</span>
                </a>
            </div>

            <div class="col-sm-4 col-sm-pull-4 text-center text-sm-left text-md-left">
                <div class="widget widget_nav_menu greylinks">

                    <ul class="menu divided_content wide_divider">
                        <li class="">
                            <a href="{% url 'homepage' %}">Home</a>
                        </li>
                        <li class="">
                            <a href="{% url 'blog_list' %}">Блоги</a>
                        </li>
                        <li class="">
                            <a href="{% url 'list_psycholog' %}">Психологи</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</footer>