<section class="page_topline cs table_section table_section_md columns_padding_0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center divided_content">

                <div>
                    <div class="media small-teaser">
                        <div class="media-left">
                            <i class="fa fa-user highlight fontsize_16"></i>
                        </div>
                        <div class="media-body">
                            0 (800) 337 25 25
                        </div>
                    </div>
                </div>

                <div>
                    <div class="media small-teaser">
                        <div class="media-left">
                            <i class="fa fa-map-marker highlight fontsize_16"></i>
                        </div>
                        <div class="media-body">
                            350 Leverton Cove Road Springfield, MA
                        </div>
                    </div>
                </div>

                <div>
                    <div class="media small-teaser">
                        <div class="media-left">
                            <i class="fa fa-envelope highlight fontsize_16"></i>
                        </div>
                        <div class="media-body">
                            <a href="" class="__cf_email__" data-cfemail="82f1f7f2f2edf0f6c2f2f1fbe1eaedeeede5ebf1f6ace1edef">[email&#160;protected]</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3 text-center text-md-right bottommargin_0">
                <a href="{% url 'view_form_function' %}" class="theme_button color1 margin_0">Форма для Психолога</a>
            </div>

        </div>
    </div>
</section>