<section class="ls section_padding_top_130 section_padding_bottom_100">
    <div class="container">
        <h1 style="justify-content: center; display: flex; font-size: 45px;">Блоги</h1>
        <div class="row columns_padding_25" style="justify-content: center; display: flex;">

            <div class="col-sm-7 col-md-8 col-lg-8">

                {% for blog in blog_list %}
                <article class="vertical-item content-padding post format-video with_shadow">


                    <div class="entry-thumbnail">
                        <div class="embed-responsive embed-responsive-3by2">
                            <img src="{{ blog.image.url }}" alt="">

                        </div>
                        <!-- <iframe src="//player.vimeo.com/video/1084537" width="1000" height="460"></iframe> -->
                    </div>

                    <div class="item-content entry-content">
                        <header class="entry-header">

                            <div class="entry-date small-text highlight">
                                <a href="blog-right.html" rel="bookmark">
                                    <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                        {{ blog.author }}
                                    </time>
                                </a>
                            </div>

                            <h4 class="entry-title">
                                <a href="{{ blog.get_absolute_url }}" rel="bookmark">{{ blog.title }}</a>
                            </h4>

                            <hr class="divider_30_1">

                            <!-- .entry-meta -->

                        </header>
                        <!-- .entry-header -->

                        <p>{{ blog.description|truncatewords:20	 }}</p>


                    </div>
                    <!-- .item-content.entry-content -->
                </article>
                {% endfor %}

            </div>
            <!--eof .col-sm-8 (main content)-->

        </div>
    </div>
</section>