<section class="ls section_padding_top_130 section_padding_bottom_100">
    <div class="container">

        <div class="row columns_padding_25">

            <div class="col-sm-7 col-md-8 col-lg-8">

                {% for blog in blog_list %}
                <article class="vertical-item content-padding post format-video with_shadow">


                    <div class="entry-thumbnail">
                        <div class="embed-responsive embed-responsive-3by2">
                            <img src="{{ blog.image.url }}" alt="">

                        </div>
                        <!-- <iframe src="//player.vimeo.com/video/1084537" width="1000" height="460"></iframe> -->
                    </div>

                    <div class="item-content entry-content">
                        <header class="entry-header">

                            <div class="entry-date small-text highlight">
                                <a href="blog-right.html" rel="bookmark">
                                    <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                        {{ blog.author }}
                                    </time>
                                </a>
                            </div>

                            <h4 class="entry-title">
                                <a href="{{ blog.get_absolute_url }}" rel="bookmark">{{ blog.title }}</a>
                            </h4>

                            <hr class="divider_30_1">

                            <!-- .entry-meta -->

                        </header>
                        <!-- .entry-header -->

                        <p>{{ blog.description|truncatewords:20	 }}</p>


                    </div>
                    <!-- .item-content.entry-content -->
                </article>
                {% endfor %}

            </div>
            <!--eof .col-sm-8 (main content)-->

            <!-- sidebar -->
            <aside class="col-sm-5 col-md-4 col-lg-4">


                <div class="widget widget_apsc_widget">
                    <h3 class="widget-title">Get In Touch</h3>
                    <div class="apsc-icons-wrapper clearfix apsc-theme-4">
                        <div class="apsc-each-profile">
                            <a class="apsc-facebook-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="fa fa-facebook apsc-facebook"></i>
                                        <span class="media-name">Facebook</span>
                                    </span>
                                    <span class="apsc-count">9.8K</span>
                                    <span class="apsc-media-type">Fans</span>
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-twitter-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="fa fa-twitter apsc-twitter"></i>
                                        <span class="media-name">Twitter</span>
                                    </span>
                                    <span class="apsc-count">4.9K</span>
                                    <span class="apsc-media-type">Followers</span>
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-google-plus-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="apsc-googlePlus fa fa-google-plus"></i>
                                        <span class="media-name">google+</span>
                                    </span>
                                    <span class="apsc-count">10.1M</span>
                                    <span class="apsc-media-type">Followers</span>
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-instagram-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="apsc-instagram fa fa-instagram"></i>
                                        <span class="media-name">Instagram</span>
                                    </span>
                                    <span class="apsc-count">4</span>
                                    <span class="apsc-media-type">Followers</span>
                                </div>
                            </a>
                        </div>
                        <div class="apsc-each-profile">
                            <a class="apsc-youtube-icon clearfix" href="#">
                                <div class="apsc-inner-block">
                                    <span class="social-icon">
                                        <i class="apsc-youtube fa fa-youtube"></i>
                                        <span class="media-name">Youtube</span>
                                    </span>
                                    <span class="apsc-count">2.2K</span>
                                    <span class="apsc-media-type">Subscriber</span>
                                </div>
                            </a>
                        </div>

                    </div>

                </div>


                <div class="widget widget_mailchimp">

                    <h3 class="widget-title">Newsletter</h3>

                    <form class="signup form-inline" action="./" method="get">
                        <div class="form-group">
                            <input name="email" type="email" class="mailchimp_email form-control" placeholder="Email">
                        </div>
                        <button type="submit" class="theme_button">Send</button>
                        <div class="response"></div>
                    </form>

                    <p class="topmargin_20">Stay updated with our latest news and updates.</p>

                </div>


                <div class="widget widget_flickr">

                    <h3 class="widget-title">Flickr Widget</h3>
                    <ul id="flickr" class="flickr_loaded"></ul>
                </div>

                <div class="widget widget_categories">

                    <h3 class="widget-title">Categories</h3>
                    <form class="contact-form" method="post" action="./">

                        <div class="select-group">
                            <label for="categories" class="sr-only">Select Category
                                <span class="required">*</span>
                            </label>
                            <div class="input-group">
                                <select aria-required="true" id="categories" name="categories" class="choice empty form-control">
                                    <option value="" disabled="" selected="" data-default="">Select Category</option>
                                    <option value="category1">Category 1</option>
                                    <option value="category2">Category 2</option>
                                    <option value="category3">Category 3</option>
                                    <option value="category4">Category 4</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>


                <div class="widget widget_recent_posts">

                    <h3 class="widget-title">Recent Posts</h3>
                    <ul>
                        <li>
                            <div class="entry-date small-text highlight">
                                <a href="blog-right.html" rel="bookmark">
                                    <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                        March 13, 2017
                                    </time>
                                </a>
                            </div>
                            <h4>
                                <a href="blog-single-right.html">Doner tongue bacon beef ribs picanha sausage brisket t-bone</a>
                            </h4>
                        </li>
                        <li>
                            <div class="entry-date small-text highlight">
                                <a href="blog-right.html" rel="bookmark">
                                    <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                        March 11, 2017
                                    </time>
                                </a>
                            </div>
                            <h4>
                                <a href="blog-single-right.html">Doner tongue bacon beef ribs picanha sausage brisket t-bone</a>
                            </h4>
                        </li>
                        <li>
                            <div class="entry-date small-text highlight">
                                <a href="blog-right.html" rel="bookmark">
                                    <time class="entry-date" datetime="2017-03-13T08:50:40+00:00">
                                        March 11, 2017
                                    </time>
                                </a>
                            </div>
                            <h4>
                                <a href="blog-single-right.html">Doner tongue bacon beef ribs picanha sausage brisket t-bone</a>
                            </h4>
                        </li>
                    </ul>
                </div>


                <div class="widget widget_archive">

                    <h3 class="widget-title">Archives</h3>
                    <form class="contact-form" method="post" action="./">

                        <div class="select-group">
                            <label for="archive" class="sr-only">Select mounth
                                <span class="required">*</span>
                            </label>
                            <div class="input-group">
                                <select aria-required="true" id="archive" name="archive" class="choice empty form-control">
                                    <option value="" disabled="" selected="" data-default="">Select mounth</option>
                                    <option value="jan">January</option>
                                    <option value="feb">February</option>
                                    <option value="mar">March</option>
                                    <option value="apr">April</option>
                                    <option value="may">May</option>
                                    <option value="jun">June</option>
                                    <option value="jul">July</option>
                                    <option value="aug">August</option>
                                    <option value="sep">September</option>
                                    <option value="oct">October</option>
                                    <option value="nov">November</option>
                                    <option value="dec">December</option>
                                </select>
                            </div>
                        </div>

                    </form>
                </div>


            </aside>
            <!-- eof aside sidebar -->

        </div>
    </div>
</section>